[Unit]
Description=LearnDB management service
Requires=network.target postgresql.service
After=postgresql.service

[Service]
Type=forking
User=learndb
Group=learndb
WorkingDirectory=/home/learndb/git_repos/The-Real-Time-Imaging-Database/src/data_service
ExecStart=/home/learndb/git_repos/The-Real-Time-Imaging-Database/scripts/service/data_service.sh
ExecStop=pkill -u learndb dataApp.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
